

.homeVentanas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

 .homeproducto {
    background-color: #2835A5;
    color: #060505;
}


.homeproducto, .homeCategories, .homeRecomendar{
    justify-content: space-around;
    gap: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeRec{
    display: flex;
    align-items: center;
}

.card-grid, .card-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    border-radius: 3rem;
}


