

.homeVentanas{
    display: flex;
    flex-direction: column;
}

 .homeproducto {
    background-color: #2835A5; 
}


.homeproducto, .homeCategories, .homeRecomendar{
    justify-content: space-around;
    gap: 2rem;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    color: #434141;

}

.homeRec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeH3{
    margin-left: 1rem;
}
.homeProductoH3{
    color:#FFFFFF ;
}

.card-grid, .card-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 0 10rem;
}


