.card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 15rem;
    padding: 0.8rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 10px;
    align-items: center;
}

.button-card-categorias{
    background-color: #0075FF;
    padding: 0.5rem 3rem;
    color: #FFFFFF;
}

