.nav{
    background-color: #FFFFFF;
    align-items:center;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    gap: 2em;
    padding: 1rem;
    width: 100%;
    position:sticky;
    top: 0;
}

.crearIniciar{
    display: flex;
    gap: 0.5rem;
}

.crear{
    background-color:#0075FF ;
    color:#FFFFFF ;
    border-radius: 0.8rem;
}

.logo{
    display: flex;
    gap: 0.5rem;
    font-size: smaller;
    align-items: center;
}

.lema{
    font-family: 'lora', sans-serif;
    font-size: 15px;
}

.logo1{
    width: 10rem;
}
