.nav{
    background-color: #FFFFFF;
    align-items:center;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    gap: 2em;
    padding: 1rem;
    width: 100%;
    position:sticky;
    top: 0;
}

.crearIniciar{
    display: flex;
    gap: 0.5rem;
}

.crear{
    background-color:#0075FF ;
    color:#FFFFFF ;
    border-radius: 0.8rem;
}

.logo{
    display: flex;
    gap: 0.5rem;
    font-size: smaller;
    align-items: center;
}

.lema{
    font-family: 'lora', sans-serif;
    font-size: 15px;
}

.logo1{
    width: 10rem;
}

#abrir-cerrar {
    display: none;
}

.navheader{
    background-color: #FFFFFF;
    border: 0.02rem solid #D9D9D9;
    border-radius: 0.3em;
    display: none;
    right: 1em;
    position: absolute;
    margin-top: 0.5rem;
    top: 4em;
    width: 10rem;
}

.navheader li{
    padding: 0.5em;
    border-bottom: 0.02rem solid #D9D9D9;
}


.navheader li:last-child {
    border-bottom: none;
}
  

.navheader a{
    color: #000;
    font-weight: 400;
    padding: 0.5em;
}

.navheader a:hover{
    color: #000;
}

input#abrir-cerrar:checked + .toggle-button .abrir, input#abrir-cerrar:checked + .toggle-button .navheader {
    display:none;
}

input#abrir-cerrar:checked + .toggle-button .cerrar, input#abrir-cerrar:checked + .toggle-button .navheader {
    display: block;
}
