.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 1rem;
}

.containerButton {
        background-color: #ebeff3;
        padding: 5px 10px;
        border-radius: 3px;
        height: 30px;
        min-width: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
        svg {
            width: 10px;
        }
    

    button[disabled] {
        background-color: #2835A5;
        cursor: no-drop;
        border: 1px solid #ebeff3;
    }

    .containerImput {
        height: 30px;
        width: 2rem;
        text-align: center;
        border: none;
        border-radius: 3px;
        background-color:#C3D4FA ;
    }

    .containerP{
        color: #FFFFFF;
    }
